#head h1{
    font-family: Arial, Helvetica, sans-serif;
}
.discover {
    color: orangered;
}
.grow {
    color: darkolivegreen;
}
.transform {
    color: turquoise;
}
#blog {
    font-size: 20.5px;
    font-family: Arial, Helvetica, sans-serif;
}
#text {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
.txt1{
background-color: orangered;
}
.txt2{
    background-color: skyblue;
    }
.txt3{
        background-color: darkolivegreen;
        }
.txt4{
            background-color: navy;
 }
 #parent {
    display: inline-grid;
    
    grid-template-columns: repeat(4,1fr);

 }
 .name {
width: 35%;
 }
 .name img {
    width: 300px;
 }